@model List<Enfermo>

<h1>Todos Enfermos</h1>


<table class="table table-primary">
    <thead>
        <tr>
            <th>Inscripción</th>
            <th>Apellido</th>
            <th>Direción</th>
            <th>NSS</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Enfermo enf in Model)
        {
            <tr>
                <td>@enf.Inscripcion</td>
                <td>@enf.Apellido</td>
                <td>@enf.Direccion</td>
                <td>@enf.NSS</td>
            <td>

                <a asp-controller="Enfermos"
                   asp-action="Delete"
                   asp-route-idenfermo="@enf.Inscripcion"
                   class="btn btn-danger">
                    Eliminar
                </a>
            </td>
        </tr>
        }
    </tbody>
</table>